/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5; /* Fondo de la página */
  }
  
  /* Card principal */
  .card-1 {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .card-header-1 {
    background-color: #42464F; /* Color llamativo de la tarjeta */
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .card-header-1 h1, .card-header-1 h2 {
    margin: 0;
  }
  
  /* Estilo para las tarjetas */
  .card {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 15px 0;
    padding: 20px;
    transition: transform 0.3s ease;
    width: 100%; /* Asegura que cada tarjeta ocupe todo su espacio disponible */
  }
  
  .card:hover {
    transform: scale(1.05); /* Efecto hover para hacerla más interactiva */
  }
  
  .card-header {
    background-color: #7D848C; /* Color llamativo para los títulos */
    color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
  .card-body {
    padding: 15px;
    font-size: 1.1rem;
    color: #333;
  }
  
  /* Estilos para las columnas, asegurando que haya 3 tarjetas por fila */
  .columna1, .columna2, .columna3, .columna4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
  }
  
  /* Asegura que las tarjetas estén en una sola fila con 3 tarjetas */
  .columna1 .card, .columna2 .card, .columna3 .card, .columna4 .card {
    width: 32%; /* Esto asegura que caben 3 tarjetas por fila */
  }
  
  /* Responsividad: 3 tarjetas por fila en pantallas pequeñas */
  @media (max-width: 768px) {
    .columna1 .card, .columna2 .card, .columna3 .card, .columna4 .card {
      width: 100%; /* En pantallas más pequeñas las tarjetas ocuparán el 100% del ancho */
    }
  }
  
  /* Estilos adicionales para los textos */
  h4 {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #333;
    font-size: 1.2rem;
  }

  .PSTitle {
    color: white;
    font-size: 1.5rem; 
  }

  .PTlitle{
    color: white;
    font-size: 55px; 
  }