/* Estilos para el carrusel de imágenes */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  border-radius: 10px;  /* Bordes redondeados */
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image-container {
  min-width: 100%;
  max-width: 100%;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que las imágenes no se deformen */
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

/* Estilos para el carrusel de testimonios */
.testimonial-carousel {
  position: relative;
  width: 80%;  /* Hacemos el carrusel más pequeño, 80% del contenedor padre */
  max-width: 700px;  /* Ancho máximo para que no se estire demasiado */
  height: 200px;  /* Reducimos la altura */
  overflow: hidden;
  border-radius: 10px;  /* Bordes redondeados */
  background-color: #efbbff;  /* Fondo oscuro atractivo */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  /* Sombra sutil */
  margin: 0 auto;  /* Centrado en el contenedor */
}

.testimonial-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 160px;
  margin-top: 20px;
}

.testimonial-item {
  min-width: 100%;
  padding: 15px;  /* Ajustamos el padding para que los textos no sean tan grandes */
  box-sizing: border-box;
  background-color: #ffffff;  /* Color llamativo y cálido (amarillo suave) */
  color: #333;  /* Texto oscuro para contraste */
  border-radius: 8px;
  margin: 10px 0;
  font-size: 1rem;  /* Reducimos el tamaño del texto */
}

.testimonial-item p {
  margin: 10px 0;
}

.testimonial-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffdede;  /* Color llamativo para los botones */
  color: white;
  border: none;
  font-size: 1.5rem;  /* Reducimos el tamaño del botón */
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  border-radius: 50%;  /* Bordes redondeados para los botones */
  transition: background-color 0.3s ease;
}

.testimonial-btn:hover {
  background-color: #c79cb5;  /* Cambia a un tono más oscuro cuando se pasa el mouse */
}

.testimonial-btn.prev {
  left: 10px;
}

.testimonial-btn.next {
  right: 10px;
}

/* Estilos para los indicadores */
.testimonial-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.testimonial-indicator {
  width: 8px;  /* Indicadores más pequeños */
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 87, 34, 0.6);  /* Indicadores de color naranja */
  transition: background-color 0.3s ease;
}

.testimonial-indicator.active {
  background-color: rgba(255, 87, 34, 1);  /* Indicador activo de color naranja */
}
