.Servicios{
    background: #594949; /* Fondo blanco para el formulario */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px; /* Ancho máximo */
    text-align: center;
    animation: fadeIn 0.6s ease-in-out; /* Animación de aparición */
    margin-top: 150px;
    margin-left: 300px;
}

.TitleS {
    color: white; /* Color del título */
    margin-bottom: 20px;
    animation: slideIn 0.5s ease-in-out; /* Animación de deslizamiento */
    font-size: 35px;
}

.subTitleS{
    color: white;
    font-size: 20px;
    text-align: start;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #555; /* Color del texto de la etiqueta */
}

.IMGFILE{
    background-color: #D0B4A9;
    width: 100%; /* Ancho completo menos padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black; /* Borde gris */
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s; /* Añadir transición para la sombra */
}
.btnadd {
    background-color: #B08B82; /* Botón verde */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    margin: 5px 0;
    animation: popIn 0.5s ease; /* Animación de aparición para botones */
    margin-left: 350px;

}

.btnadd:hover {
    background-color: #b987a3; /* Botón más oscuro al pasar el ratón */
    transform: scale(1.05); /* Efecto de aumento */
}

.serviciosProtegidos-conteiner {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
}

.columns-container {
  display: flex;
  width: 100%;
  gap: 30px; /* Espacio entre las columnas */
}

.data-column {
  flex: 1; /* Ocupa 50% del espacio */
  padding-right: 20px;
  border-right: 2px solid #000000; /* Separación visual */
}

.edit-column {
  flex: 1; /* Ocupa 50% del espacio */
  padding-left: 20px;
}

.lsta-servicios-protegidos {
  list-style-type: none;
  padding: 10px;
  background-color: #946b88;
  margin-top: 100px;
  border-radius: 10px 10px;
}

.imagenServiciosProtegidos {
  width: 100%; /* Ajustamos el tamaño para que la imagen no ocupe demasiado espacio */
  max-width: 150px; /* Limitamos el tamaño máximo de la imagen */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.edit-service-container {
  margin-bottom: 20px;
  margin-top: 150px;
}

.editInp1,
.editInp,
.edit-specialist-select,
.edit-file-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
}

.inputEditServices{
  width: 600px;
  height: 150px;
}

.botonHis {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botonHis:hover {
  background-color: #0056b3;
}
