.WorkTeam{
    background: #42464F; /* Fondo blanco para el formulario */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px; /* Ancho máximo */
    text-align: center;
    animation: fadeIn 0.6s ease-in-out; /* Animación de aparición */
    margin-top: 150px;
    margin-left: 300px;
}

.Title {
    color: white; /* Color del título */
    margin-bottom: 20px;
    animation: slideIn 0.5s ease-in-out; /* Animación de deslizamiento */
    font-size: 35px;
}

.subTitle{
    color: white;
    font-size: 20px;
    text-align: start;
}

label{
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #ffffff; /* Color del texto de la etiqueta */
}

.inptWorkTeam{
    background-color: #888888;
    color: white;
    width: calc(100% - 20px); /* Ancho completo menos padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black; /* Borde gris */
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s; /* Añadir transición para la sombra */
}
.btnagregarW{
    background-color: #7D848C; /* Botón verde */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
    margin: 5px 0;
    animation: popIn 0.5s ease; /* Animación de aparición para botones */
    margin-left: 350px;

}

.btnagregarW:hover {
    background-color: #aab3bd; /* Botón más oscuro al pasar el ratón */
    transform: scale(1.05); /* Efecto de aumento */
}
